
<div *ngIf="funcionario">
    <h2><span>Funcionario</span> {{funcionario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{funcionario.nome}}</span>
        </dd>
        <dt><span>Cpf</span></dt>
        <dd>
            <span>{{funcionario.cpf}}</span>
        </dd>
        <dt><span>Endereco</span></dt>
        <dd>
            <div *ngIf="funcionario.enderecoId">
                <a [routerLink]="['/endereco', funcionario.enderecoId]">{{funcionario.enderecoId}}</a>
            </div>
        </dd>
        <dt><span>Cargo</span></dt>
        <dd>
            <div *ngIf="funcionario.cargoId">
                <a [routerLink]="['/cargo', funcionario.cargoId]">{{funcionario.cargoId}}</a>
            </div>
        </dd>
        <dt><span>Expedientes</span></dt>
        <dd>
            <div *ngIf="funcionario.expedientesId">
                <a [routerLink]="['/expediente', funcionario.expedientesId]">{{funcionario.expedientesId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'funcionario/'+ funcionario.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
