<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUBSLabel">Create or edit a UBS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!uBS.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="uBS.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="uBS.nome" required />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horaAbertura">Hora Abertura</label>
            <input type="text" class="form-control" name="horaAbertura" id="field_horaAbertura"
                [(ngModel)]="uBS.horaAbertura"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horaFechamento">Hora Fechamento</label>
            <input type="text" class="form-control" name="horaFechamento" id="field_horaFechamento"
                [(ngModel)]="uBS.horaFechamento"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_endereco">Endereco</label>
            <select class="form-control" id="field_endereco" name="endereco" [(ngModel)]="uBS.enderecoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="enderecoOption.id" *ngFor="let enderecoOption of enderecos; trackBy: trackEnderecoById">{{enderecoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_departamentos">Departamentos</label>
            <select class="form-control" id="field_departamentos" name="departamentos" [(ngModel)]="uBS.departamentosId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departamentoOption.id" *ngFor="let departamentoOption of departamentos; trackBy: trackDepartamentoById">{{departamentoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
